name: 'Terraform Plan'

on:
  push:
    branches: [ "master" ]

env:
  TF_VERSION: '1.6.0'

jobs:
  terraform-plan:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check -recursive

      - name: Terraform Init
        id: init
        run: terraform init -backend=false
        working-directory: ./environments/production

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
        working-directory: ./environments/production

      - name: Terraform Plan
        id: plan
        run: |
          terraform init
          terraform plan -no-color -input=false -out=tfplan
        working-directory: ./environments/production
        env:
          TF_CLI_ARGS_plan: "-var-file=terraform.tfvars"

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: environments/production/tfplan